<div class="container">
    <div class="d-flex flex-column justify-content-center align-items-center" style="height: 90vh;">
       
        <h5>login</h5>
        <form action="/login" method="post" class="w-25 shadow-sm bg-white rounded p-3 text-secondary">

            <div class="my-2">
                <label for="">Username</label>
                <input name="username" type="text" class="form-control">
            </div>

            <div class="my-2">
                <label for="">Password</label>
                <input name="password" type="password" class="form-control">
            </div>

            <div class="my-2 d-flex justify-content-end">
                <button type="submit" class="btn btn-primary px-4 rounded-1">LOGIN</button>
            </div>

        </form>
    </div>
</div>